<a href="https://colab.research.google.com/github/Mohdsohail7/pandas/blob/main/learn_pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
s.dtype

dtype('int64')

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
s.dtype

dtype('int64')

In [ ]:
s.values

array([10, 20, 30, 40, 50])

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s.name

In [ ]:
s.name = "numbers"

In [ ]:
s

0    10
1    20
2    30
3    40
4    50
Name: numbers, dtype: int64

In [ ]:
# Indexing

s[0]

np.int64(10)

In [ ]:
s[0:2]

0    10
1    20
Name: numbers, dtype: int64

In [ ]:
s[2:5]

2    30
3    40
4    50
Name: numbers, dtype: int64

In [ ]:
# iloc ---> location based indexing

s.iloc[3]

np.int64(40)

In [ ]:
s.iloc[[1,3,4]]

1    20
3    40
4    50
Name: numbers, dtype: int64

In [ ]:
s.name = "calories"

In [ ]:
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [ ]:
index = ["Apple", "Banana", "Grapes", "Orange", "Strawberry"]

In [ ]:
s.index = index
s

Apple         10
Banana        20
Grapes        30
Orange        40
Strawberry    50
Name: calories, dtype: int64

In [ ]:
s["Grapes"]

np.int64(30)

In [ ]:
s.iloc["Grapes"]

TypeError: Cannot index by location index with a non-integer key

In [ ]:
# loc --> label based indexing
s.loc["Grapes"]

np.int64(30)

In [ ]:
# In label based indexing your start as well as stop values both are included in the output.
s["Banana": "Orange"]

Banana    20
Grapes    30
Orange    40
Name: calories, dtype: int64

In [ ]:
s.loc[["Apple", "Grapes"]]

Apple     10
Grapes    30
Name: calories, dtype: int64

In [ ]:
fruit_protein = {
    "Avocado": 2.0,
    "Guava": 2.6,
    "Orange": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0
}

In [ ]:
s2 = pd.Series(fruit_protein, name = "Protein")
s2

Avocado        2.0
Guava          2.6
Orange         0.9
Banana         1.1
Apples         0.3
Kiwi           1.1
Pomegranate    1.7
Mango          0.8
Cherries       1.0
Name: Protein, dtype: float64

In [ ]:
# Conditional selection.

s2>1

Avocado         True
Guava           True
Orange         False
Banana          True
Apples         False
Kiwi            True
Pomegranate     True
Mango          False
Cherries       False
Name: Protein, dtype: bool

In [ ]:
s2[s2>1]

Avocado        2.0
Guava          2.6
Banana         1.1
Kiwi           1.1
Pomegranate    1.7
Name: Protein, dtype: float64

In [ ]:
# Logical Opertaors: and, or, not
[(s2 > 0.5) & (s2 < 2)]

[Avocado        False
 Guava          False
 Orange          True
 Banana          True
 Apples         False
 Kiwi            True
 Pomegranate     True
 Mango           True
 Cherries        True
 Name: Protein, dtype: bool]

In [ ]:
s2[(s2 > 0.5) & (s2 < 2)]

Orange         0.9
Banana         1.1
Kiwi           1.1
Pomegranate    1.7
Mango          0.8
Cherries       1.0
Name: Protein, dtype: float64

In [ ]:
s2[(s2 > 0.5) | (s2 <= 2)]

Avocado        2.0
Guava          2.6
Orange         0.9
Banana         1.1
Apples         0.3
Kiwi           1.1
Pomegranate    1.7
Mango          0.8
Cherries       1.0
Name: Protein, dtype: float64

In [ ]:
# not operator.
s2[~(s2>1)]

Orange      0.9
Apples      0.3
Mango       0.8
Cherries    1.0
Name: Protein, dtype: float64

In [ ]:
# Modifying the series;
s2["Mango"] = 2.8

In [ ]:
s2

Avocado        2.0
Guava          2.6
Orange         0.9
Banana         1.1
Apples         0.3
Kiwi           1.1
Pomegranate    1.7
Mango          2.8
Cherries       1.0
Name: Protein, dtype: float64

In [ ]:
import numpy as np

In [ ]:
# Data Frame:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}

In [ ]:
data

{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice'],
 'Age': [25, 30, 35, nan, 29, 25],
 'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'HR'],
 'Salary': [50000, 60000, 70000, 62000, nan, 50000]}

In [ ]:
df = pd.DataFrame(data)
df

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [ ]:
df.head()

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN

In [ ]:
df.head(2)

    Name   Age Department   Salary
0  Alice  25.0         HR  50000.0
1    Bob  30.0         IT  60000.0

In [ ]:
df.tail()

      Name   Age Department   Salary
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [ ]:
df.tail(3)

    Name   Age Department   Salary
3  David   NaN         IT  62000.0
4    Eve  29.0         HR      NaN
5  Alice  25.0         HR  50000.0

In [ ]:
# loc and iloc

df.iloc[1:3]

      Name   Age Department   Salary
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0

In [ ]:
df.iloc[1:3, :2]

      Name   Age
1      Bob  30.0
2  Charlie  35.0

In [ ]:
df.loc[1:3, ["Age", "Department"]]

    Age Department
1  30.0         IT
2  35.0    Finance
3   NaN         IT

In [ ]:
df["Age"]

0    25.0
1    30.0
2    35.0
3     NaN
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df[["Age", 'Department']]

    Age Department
0  25.0         HR
1  30.0         IT
2  35.0    Finance
3   NaN         IT
4  29.0         HR
5  25.0         HR

In [ ]:
df.drop("Age", axis = 1)

      Name Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie    Finance  70000.0
3    David         IT  62000.0
4      Eve         HR      NaN
5    Alice         HR  50000.0

In [ ]:
df

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [ ]:
df.shape

(6, 4)

In [ ]:
df.dtypes

Name           object
Age           float64
Department     object
Salary        float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Age         5 non-null      float64
 2   Department  6 non-null      object
 3   Salary      5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 324.0+ bytes

In [ ]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   28.800000  58400.000000
std     4.147288   8532.291603
min    25.000000  50000.000000
25%    25.000000  50000.000000
50%    29.000000  60000.000000
75%    30.000000  62000.000000
max    35.000000  70000.000000

In [ ]:
# Broadcasting
df["Salary"] = df["Salary"] + 5000

In [ ]:
df["Salary"]

0    55000.0
1    65000.0
2    75000.0
3    67000.0
4        NaN
5    55000.0
Name: Salary, dtype: float64

In [ ]:
# Renaming columns:
df.rename(columns= {"Department": "Dept"}, inplace =  True)

In [ ]:
df

      Name   Age     Dept   Salary
0    Alice  25.0       HR  55000.0
1      Bob  30.0       IT  65000.0
2  Charlie  35.0  Finance  75000.0
3    David   NaN       IT  67000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  55000.0

In [ ]:
df["Dept"].unique()

array(['HR', 'IT', 'Finance'], dtype=object)

In [ ]:
df["Dept"].value_counts()

Dept
HR         3
IT         2
Finance    1
Name: count, dtype: int64

In [ ]:
df["Promoted Salary"] = df["Salary"] * 10

In [ ]:
df

      Name   Age Department   Salary  Promoted Salary
0    Alice  25.0         HR  50000.0         500000.0
1      Bob  30.0         IT  60000.0         600000.0
2  Charlie  35.0    Finance  70000.0         700000.0
3    David   NaN         IT  62000.0         620000.0
4      Eve  29.0         HR      NaN              NaN
5    Alice  25.0         HR  50000.0         500000.0

In [ ]:
df.isnull().sum()

Name               0
Age                1
Department         0
Salary             1
Promoted Salary    1
dtype: int64

In [ ]:
df.dropna()

      Name   Age Department   Salary  Promoted Salary
0    Alice  25.0         HR  50000.0         500000.0
1      Bob  30.0         IT  60000.0         600000.0
2  Charlie  35.0    Finance  70000.0         700000.0
5    Alice  25.0         HR  50000.0         500000.0

In [ ]:
df.dropna(how= "any") # any row that had any null value

      Name   Age Department   Salary  Promoted Salary
0    Alice  25.0         HR  50000.0         500000.0
1      Bob  30.0         IT  60000.0         600000.0
2  Charlie  35.0    Finance  70000.0         700000.0
5    Alice  25.0         HR  50000.0         500000.0

In [ ]:
df.dropna(how= "all") # if all the values in any row are null then we dropped

      Name   Age Department   Salary  Promoted Salary
0    Alice  25.0         HR  50000.0         500000.0
1      Bob  30.0         IT  60000.0         600000.0
2  Charlie  35.0    Finance  70000.0         700000.0
3    David   NaN         IT  62000.0         620000.0
4      Eve  29.0         HR      NaN              NaN
5    Alice  25.0         HR  50000.0         500000.0

In [ ]:
df.fillna(0)

      Name   Age Department   Salary  Promoted Salary
0    Alice  25.0         HR  50000.0         500000.0
1      Bob  30.0         IT  60000.0         600000.0
2  Charlie  35.0    Finance  70000.0         700000.0
3    David   0.0         IT  62000.0         620000.0
4      Eve  29.0         HR      0.0              0.0
5    Alice  25.0         HR  50000.0         500000.0

In [ ]:
df["Age"].fillna(df["Age"].mean())

0    25.0
1    30.0
2    35.0
3    28.8
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df["Salary"].fillna(df["Salary"].median())

0    50000.0
1    60000.0
2    70000.0
3    62000.0
4    60000.0
5    50000.0
Name: Salary, dtype: float64

In [ ]:
df["Age"].fillna(method = "ffill")

/tmp/ipython-input-544980945.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "ffill")

0    25.0
1    30.0
2    35.0
3    35.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df["Age"].ffill()

0    25.0
1    30.0
2    35.0
3    35.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df["Age"].fillna(method = "bfill")

/tmp/ipython-input-3026805218.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "bfill")

0    25.0
1    30.0
2    35.0
3    29.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df["Age"].bfill()

0    25.0
1    30.0
2    35.0
3    29.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [ ]:
df["Name"].replace("Charlie", "Rose")

0    Alice
1      Bob
2     Rose
3    David
4      Eve
5    Alice
Name: Name, dtype: object

In [ ]:
df["Name"] = df["Name"].replace("Charlie", "Rose") # make changes permanent

In [ ]:
df

    Name   Age Department   Salary  Promoted Salary
0  Alice  25.0         HR  50000.0         500000.0
1    Bob  30.0         IT  60000.0         600000.0
2   Rose  35.0    Finance  70000.0         700000.0
3  David   NaN         IT  62000.0         620000.0
4    Eve  29.0         HR      NaN              NaN
5  Alice  25.0         HR  50000.0         500000.0

In [ ]:
# dealing with duplicate data

In [ ]:
df_dup = df[df.duplicated()] # without pass parameter give the last value as a duplicate (work from top to bottom)
df_dup

    Name   Age Department   Salary  Promoted Salary
5  Alice  25.0         HR  50000.0         500000.0

In [ ]:
df_dup = df[df.duplicated(keep= "first")] # (work from top to bottom)
df_dup

    Name   Age Department   Salary  Promoted Salary
5  Alice  25.0         HR  50000.0         500000.0

In [ ]:
df_dup = df[df.duplicated(keep= "last")] # mark 1st value as a duplicate (work from bottom to top)
df_dup

    Name   Age Department   Salary  Promoted Salary
0  Alice  25.0         HR  50000.0         500000.0

In [ ]:
df = df.drop_duplicates() # this remove second record of same
df

    Name   Age Department   Salary  Promoted Salary
0  Alice  25.0         HR  50000.0         500000.0
1    Bob  30.0         IT  60000.0         600000.0
2   Rose  35.0    Finance  70000.0         700000.0
3  David   NaN         IT  62000.0         620000.0
4    Eve  29.0         HR      NaN              NaN

In [ ]:
# Invalid values
# Lambda
df["Promoted Salary"] = df["Promoted Salary"].apply(lambda x: x/10 if x > 650000 else x)
df

    Name   Age Department   Salary  Promoted Salary
0  Alice  25.0         HR  50000.0         500000.0
1    Bob  30.0         IT  60000.0         600000.0
2   Rose  35.0    Finance  70000.0          70000.0
3  David   NaN         IT  62000.0         620000.0
4    Eve  29.0         HR      NaN              NaN

In [ ]:
# apply and lamda examples
def multiplying_age(x):
  return x*2

df["Age"] = df["Age"].apply(multiplying_age)
df

    Name   Age Department   Salary  Promoted Salary
0  Alice  50.0         HR  50000.0         500000.0
1    Bob  60.0         IT  60000.0         600000.0
2   Rose  70.0    Finance  70000.0          70000.0
3  David   NaN         IT  62000.0         620000.0
4    Eve  58.0         HR      NaN              NaN

In [ ]:
df["Age"] = df["Age"].apply(lambda x: x/2)
df

    Name   Age Department   Salary  Promoted Salary
0  Alice  25.0         HR  50000.0         500000.0
1    Bob  30.0         IT  60000.0         600000.0
2   Rose  35.0    Finance  70000.0          70000.0
3  David   NaN         IT  62000.0         620000.0
4    Eve  29.0         HR      NaN              NaN

In [ ]:
# Joins and Merges
department_info = {
    "Department": ["HR", "IT", "Finance"],
    "Location": ["New York", "San Francisco", "Chicago"],
    "Manager": ["Laura", "Steve", "Nina"]
}
df2 = pd.DataFrame(department_info)
df2

  Department       Location Manager
0         HR       New York   Laura
1         IT  San Francisco   Steve
2    Finance        Chicago    Nina

In [ ]:
# Concat
pd.concat([df, df2]) # this give the result row wise

    Name   Age Department   Salary  Promoted Salary       Location Manager
0  Alice  25.0         HR  50000.0         500000.0            NaN     NaN
1    Bob  30.0         IT  60000.0         600000.0            NaN     NaN
2   Rose  35.0    Finance  70000.0          70000.0            NaN     NaN
3  David   NaN         IT  62000.0         620000.0            NaN     NaN
4    Eve  29.0         HR      NaN              NaN            NaN     NaN
0    NaN   NaN         HR      NaN              NaN       New York   Laura
1    NaN   NaN         IT      NaN              NaN  San Francisco   Steve
2    NaN   NaN    Finance      NaN              NaN        Chicago    Nina

In [ ]:
pd.concat([df, df2], axis= 1) # this give result column wise

,Name,Age,Department,Salary,Promoted Salary,Department,Location,Manager
0,Alice,25.0,HR,50000.0,500000.0,HR,New York,Laura
1,Bob,30.0,IT,60000.0,600000.0,IT,San Francisco,Steve
2,Rose,35.0,Finance,70000.0,70000.0,Finance,Chicago,Nina
3,David,NaN,IT,62000.0,620000.0,NaN,NaN,NaN
4,Eve,29.0,HR,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.merge(df, df2, on= "Department")

    Name   Age Department   Salary  Promoted Salary       Location Manager
0  Alice  25.0         HR  50000.0         500000.0       New York   Laura
1    Bob  30.0         IT  60000.0         600000.0  San Francisco   Steve
2   Rose  35.0    Finance  70000.0          70000.0        Chicago    Nina
3  David   NaN         IT  62000.0         620000.0  San Francisco   Steve
4    Eve  29.0         HR      NaN              NaN       New York   Laura